--add-opens java.xml/com.sun.org.apache.xerces.internal.jaxp=ALL-UNNAMED
--add-opens java.xml/com.sun.org.apache.xerces.internal.parsers=ALL-UNNAMED
--add-opens java.xml/com.sun.org.apache.xerces.internal.dom=ALL-UNNAMED
--add-exports java.xml/com.sun.org.apache.xerces.internal.jaxp=ALL-UNNAMED
--add-exports java.xml/com.sun.org.apache.xerces.internal.dom=ALL-UNNAMED