Java/certificado.pfx
password.txt
Java/target/
Java/FoliosSII609100003422295202510171815.xml
.idea/inspectionProfiles/
out
.idea/FacturasNicMMXXV.iml
/.idea
/bin
/chilesii-examplefiles
/Springboot/.idea
/NIC
FACTURA_EXENTA_993263.xml
