<div th:fragment="navbar">
    <table class="table-container">
        <tr>
            <td><a href="/">Placeholder 1</a></td>
            <td><a href="/">Placeholder 2</a></td>
            <td><a href="/">Placeholder 3</a></td>
            <td><a href="/">Placeholder 4</a></td>
            <td><a href="/">Placeholder 5</a></td>
            <td><a href="/">Placeholder 6</a></td>
            <td><a href="/">Placeholder 7</a></td>
            <td><a href="/">Placeholder 8</a></td>
        </tr>
    </table>
</div>