<div th:fragment="navbar" class="main-navbar">
    <table class="navbar-container">
        <tr>
            <td><a href="/" class="navbar-link">Facturas</a></td>
            <td><a href="/" class="navbar-link">Pagos</a></td>
            <td><a href="/" class="navbar-link">Historial</a></td>
            <td><a href="/" class="navbar-link">Reportes</a></td>
            <td><a href="/" class="navbar-link">Configuración</a></td>
            <td><a href="/" class="navbar-link">Soporte</a></td>
            <td><a href="/" class="navbar-link">Ayuda</a></td>
            <td><a href="/" class="navbar-link">Mi Cuenta</a></td>
        </tr>
    </table>
</div>